<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<form [formGroup]="add" style="margin: 1%;" enctype="multipart/form-data" method="post">
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="formcontrol" id="inputEmail3" placeholder="Name" formControlName="name">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Details</label>
        <div class="col-sm-10">
            <input type="text" class="formcontrol" id="inputEmail3" placeholder="Details" formControlName="details">
        </div>
    </div>
    <div class="form-group row">
        <label for="text" class="col-sm-2 col-form-label">Image</label>
        <div class="col-sm-10">
            <input id="text" type="text" class="formcontrol" placeholder="Image" name="image" formControlName="image">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Price</label>
        <div class="col-sm-10">
            <input type="number" class="formcontrol" id="inputEmail3" placeholder="price" formControlName="price">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btnprimary" [disabled]="add.invalid" (click)="onadd()"
                style="margin-right: 1%;">Add Product</button>
            <button type="submit" class="btn btn-primary" routerLink="/">Cancel</button>
        </div>
    </div>
</form>